.container {
	max-width: 500px;
	min-width: 350px;
}

#input-form {
	text-align: center;
}

body {
    background-image: url('https://hdwallsource.com/img/2018/5/spongebob-bikini-bottom-wallpaper-63311-65364-hd-wallpapers.jpg');
}

#error {
	display: none;
}

#output {
	display: none;
}
